body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Penciltools, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-brand a {
  font-family: "UnifrakturMaguntia", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: #ff5992;
}

.spinner {
  background: url('../assets/images/spinner.gif') no-repeat;
  width: 26px;
  height: 26px;
}
 
.header,
.footer,
.fullscreen-toggle {
  font-size: 16px;
}

/*
 * --------------------
 * Navigation
 * --------------------
 */
.nav-icon-left {
  padding-left: 28px;
  position: relative;
}

.nav-icon-left:before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.nav-icon-right {
  padding-right: 28px;
  position: relative;
}

.nav-icon-right:before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.icon-home:before {
  background: url('../assets/images/nav-home.png') no-repeat;
}
.icon-prev:before {
  background: url('../assets/images/nav-prev.png') no-repeat;
}
.icon-next:before {
  background: url('../assets/images/nav-next.png') no-repeat;
}
.icon-chapters:before {
  background: url('../assets/images/nav-chapters.png') no-repeat;
}
.icon-back:before {
  background: url('../assets/images/nav-back.png') no-repeat;
}
.icon-fullscreen-enter:before {
  background: url('../assets/images/nav-fullscreen-enter.png') no-repeat;
}
.icon-fullscreen-exit:before {
  background: url('../assets/images/nav-fullscreen-exit.png') no-repeat;
}


/* 
 * --------------------
 * The end page
 * --------------------
 */
.end-page .html-content {
  font-size: 32px;
  height: 100%;
  padding-top: 60px;
  text-align: center;
}

.end-page-info-text {
  margin-top: 20px;
}

.end-page-subscribe-form {
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}

.end-page-subscribe-email, 
.end-page-subscribe-button {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px 16px;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.33;
  border-radius: 6px;
  margin-bottom: 10px;
} 


.end-page-subscribe-email {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ff5892;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.end-page-subscribe-email:focus {
  border-color: #f43a7b;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 88, 146, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 88, 146, 0.6);
}

.end-page-subscribe-button {
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #ff5892;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.end-page-subscribe-button:hover,
.end-page-subscribe-button:focus,
.end-page-subscribe-button:active {
  color: #ffffff;
  background-color: #f43a7b;
  text-decoration: none;
}

.end-page-subscribe-button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.end-page-email-info {
  margin: 10px auto 0 auto;
  width: 77%;
  font-size: 20px;
}

.end-page-blog-text {
  margin-top: 40px;
}

.end-page-bubble-container {
  margin-top: 20px;
  position: relative;
}

/* The blog bubble. */
.blog-link {
  margin: auto;
  position: absolute;
  top: 60px; 
  left: 0px;
  bottom: 0; 
  right: 0;
  width: 120px;
  height: 84px;
  line-height: 84px;
  font-size: 36px;
  color: #fff;
  border-radius: 100%;
}

.blog-link:hover {
  width: 135px;
  height: 93px;
  line-height: 93px;
  font-size: 41px;
}

.blog-link:hover,
.blog-link:focus {
  color: #fff;
  text-decoration: none;
}

.blog-bubble {
  display: block;
  border-radius: 100%;
  background-color: #ff5892;
}

.blog-bubble:after {
  border-color: transparent #ff5892;
}

a:hover .blog-bubble {
  background-color: #f43a7b;
}

a:hover .blog-bubble:after {
  border-color: transparent #f43a7b;
}


/* Bubble tails. */
.bubble-tail-top-left:after {
  content: '';
  position: absolute;
  z-index: -2;
  top: -11%;
  left: 25%;
  border-top-width: 30px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 34px;
  border-style: solid;
  border-color: transparent #ff5892;
  width: 0;
}

.bubble-tail-top-left:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -11%;
  left: 25%;
  border-top-width: 30px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 5px;
  border-style: solid;
  border-color: transparent #ffffff;
  width: 0;
}

.end-page-footer {
  margin-top: 180px;
  font-size: 20px;
}

.end-page-footer a {
  color: #428bca;
  text-decoration: none;
}

.end-page-footer p {
  margin: 0 0 10px 0;
}